<div ng-controller="binderController" id="binder-controller-wrapper">
    <header id="notebook-header">
        <div class="inner">
            <h2 id="notebook-title">
                Spanish &amp; English <span class="title-sub-info">(Spanish &#8660; English)</span>
            </h2>
            <div id="notebook-tools">
                <button class="lingua-action-button-icon" id="new-entry-button" ui-sref=".ADD_NOTE">Add
                    entry</button>
                <button class="lingua-action-button-icon" id="start-test-button">Knowledge test</button>
                <input type="text" value="Search/lookup" id="notebook-search" />
            </div>
        </div>
    </header>
    <div id="notebook-container">
        <div class="inner">
            <div id="notebook-pane">
                <div id="notebook-content" ng-controller="noteListController">
                    <ul id="notes-list">
                        <lingua-note note="note" func="func" ng-repeat="note in global.model.currentPage.notes | orderBy:'position'"></lingua-note>
                    </ul>
                </div>
            </div>
            <div id="tabs-pane">
                <div class="inner" ng-controller="pageListController">
                    <button class="lingua-action-button-icon" id="new-page-button" UI-SREF=".ADD_PAGE">New page</button>
                    <ul id="notebook-tabs">
                        <lingua-page global="global" page="page" func="func" ng-repeat="page in global.model.currentNotebook.pages | orderBy:'position'"></lingua-page> 
                    </ul>
                    <footer id="main-footer">
                        <div id="copyright">Copyright LinguaLearna Ltd</div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
