<li class="row">
    <div class="entry">
        <div class="handle"></div>
        <a ng-click="func.doStar(note)" class="star" ng-class="{'starred' : note.starred}" title="Star/unstar"></a>
        <ul class="toolbar">
            <li class="edit"><a title="Edit">Edit</a></li>
            <li class="delete">
                <a ng-click="func.doDelete(note)" title="Delete">Delete</a>
            </li>
            <li class="test" ng-class="{'included' : note.includedInTest}">
                <a ng-click="func.doSetIncludedInTest(note)" title="Include in/exclude from test">Include in test</a>
            </li>
            <li class="context"><a title="Context">Context</a></li>
        </ul>
        <div class="note-content">
            <div class="local-note">{{note.localNote}}</div>
            <div class="foreign-note">{{note.foreignNote}}</div>
            <div class="additional-notes">{{note.additionalNotes}}</div>
        </div>
    </div>
</li>