#lingua-reader-bar{position:absolute;top:0;left:0;width:100%;display:flex;justify-content:space-between;align-items:center;
padding:5px 0;border-bottom:1px solid #333333;box-shadow:0 0 10px #000000;'}