<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<display-name>Lingua Web</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring/servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>invitationOnlyFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>invitationOnlyFilter</filter-name>
		<url-pattern>/app/signup</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>readerCorsFilter</filter-name>
		<filter-class>org.ebaysf.web.cors.CORSFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			<param-value>Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, X-Csrf-Token</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET, POST, OPTIONS</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>readerCorsFilter</filter-name>
		<url-pattern>/app/api/languages/langName</url-pattern>
		<url-pattern>/app/api/note</url-pattern>
		<url-pattern>/app/api/translate</url-pattern>
		<url-pattern>/app/api/notebook/notebooksPages</url-pattern>
		<url-pattern>/app/api/ping</url-pattern>
		<url-pattern>/app/api/security/csrfToken/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>staticCorsFilter</filter-name>
		<filter-class>com.lingualearna.web.shared.filters.AddHeadersFilter</filter-class>
		<init-param>
			<param-name>Headers</param-name>
			<param-value>Access-Control-Allow-Origin=*;Access-Control-Allow-Methods=GET, OPTIONS;Access-Control-Allow-Headers=Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers, X-Csrf-Token</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>staticCorsFilter</filter-name>
		<url-pattern>/dependencies/*</url-pattern>
		<url-pattern>/templates/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
	   <welcome-file>app</welcome-file>
	</welcome-file-list>
</web-app>
