#lingua-reader-bar {
    background-color:white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 15px #000000;
    border-bottom: 1px solid #888888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 15px #000000;
    border-bottom: 1px solid #888888;
    font-size:20px;
}