$chrome-font: Roboto, sans-serif;
$chrome-font-size: 14px;
$chrome-font-colour: #333333;
$border-colour: #dddddd;
$border-style: 1px solid $border-colour;
$highlight-colour: #F56560;
$highlight-panel-colour: #F8F8F8;
$highlight-text-colour: lighten(red, 15%);
$highlight-border-style: 1px solid $highlight-colour;
$lighter-border-colour: lighten($border-colour, 7%);
$lighter-border-style: 1px solid $lighter-border-colour;
$page-null-colour: white;
$chrome-subtle-font-colour: #555555;
$chrome-subtle-border-colour: lighten($chrome-subtle-font-colour, 20%);
$hover-background-colour: #eeeeee;
$icon-button-height: 24px;
$icon-button-padding: 10px;
$messages-bg: #fffd99;
$form-padding: 13px;
$page-highlight-height: 3px;
$page-header-content-offset-left: 20px;
$stylistic-border-style: 3px solid $highlight-colour;
$binder-pages-pane-width: 250px;
$header-padding: 10px;
$small-header-padding: 12px;
$box-shadow-colour: #444444;
$tablet-switch-width: 768px;