<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>Login dialog</title>
<head>
    <meta charset="UTF8">
    <title>Add/edit note dialog</title>
    <link href="../css/common.css" rel="stylesheet" type="text/css">
    <link href="../css/login.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="lingua-component lingua-static-dialog" id="lingua-login-dialog">
    <div class="lingua-dialog-header">
        <h2>LinguaLearna.com : Login</h2>
    </div>
    <div class="lingua-dialog-content">
       <input type="text" value="Username" id="lingua-username" />
       <input type="text" value="Password" id="lingua-password" />
    </div>
    <div class="lingua-controls-footer">
        <button class="lingua-action-button-icon" id="lingua-login-button">Login</button>
    </div>
</div>

</body>
</html>