<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF8">
	<title>Reader bar</title>
	<link href="../css/common.css" rel="stylesheet" type="text/css">
	<link href="../css/reader-bar.css" rel="stylesheet" type="text/css">
</head>
<body>

<header class="lingua-component" id="lingua-reader-bar">
    <div class="lingua-align-left">
        <h1>LinguaLearna.com</h1>
    </div>
    <div class="lingua-align-centre">
        <button class="lingua-action-button lingua-action-button-icon" id="lingua-add-note-button">Add note</button>
    </div>
    <div class="lingua-align-right">
        <a href="#" class="lingua-icon-link" id="lingua-notebook-link">My notebook</a>
    </div>
</header>

</body>
</html>